/* Taken from codeacademy's practice main.css */
/* px is width */
/* one rem unit = the computed value of font-size on the root element.
 When specified on the font-size property of the root element, the rem units
 refer to the property’s initial value.
 This means that 1rem equals the font size of the html element
 (which for most browsers has a default value of 16px). */

html, body {
  background-color: #8CAAD2;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 65%;
  min-width: 500px;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
}

div {
  /*padding-right: 30px;*/
  height: 100%;
  width: 100%;
  border: 3px solid #385e90;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #D2B48C;
  max-width: 30%;
  min-width: 210px;
  /*margin: 10px;*/
  /*padding: 8px;*/
  flex: 1;
}

.nav h1 {
  padding-left: 20px;
}

/*PROBLEM link AND visited are green, don't know what active means */
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:#385e90; background-color:transparent; text-decoration:none}
a:hover   {color:green; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
